@import "../../styles/partials/global";
.location__icon{
    width: 1.875rem;
}

.group-profile{
    background-color: #CACAEA;
    color: $kijiji-purple;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 1rem;
    @include tablet{
        padding: 2rem;
    }
    @include desktop{
        padding: 2rem auto;
    }
}

h2{
    color: $kijiji-blue;
}

.info-location{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.location-content{
    color: $font-main;
}
.description{
    color: $font-main;
}
.group-info1{
    background-color: $bg-color;
    border-radius: 0.25rem;
    padding: 1rem;
    
}

.group-info2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.group-info3{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.group-info{

    background-color: $bg-color;
    border-radius: 0.25rem;
    padding: 1rem;
}