@use './typography';

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Titillium';
    color: $bg-color;
}

ul,ol{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: inherit;
}

input,textarea,select{
    font-family: inherit;
}

button{
    background: none;
    border: none; 
    padding: 0;
}