//font sizes for mobile
$h1-mobile: 1.75rem;
$h2-mobile: 1.25rem;
$h3-mobile: 0.8125rem;
$h4-mobile: 0.6875rem;
$p1-mobile: 0.94rem;
$p2-mobile: 0.81rem;
$p3-mobile: 0.67rem;
//font sizes for tablet and desktop
$h1-tabdesk: 2rem;
$h2-tabdesk: 1.5rem;
$h3-tabdesk: 0.875rem;
$h4-tabdesk: 0.75rem;
$p1-tabdesk: 1rem;
$p2-tabdesk: 0.875rem;
$p3-tabdesk: 0.75rem;