@import '../../styles/partials/global';


.site-header{
  &__navbar {
      width: auto;
      padding: 1rem 0rem;
      border-top: 3px solid $kijiji-purple;
  
      @include tablet {
        padding: 0rem;
      }
  
      @include desktop {
        padding: 0rem 1rem;
      }
  
    }
  &__logo {
    width: 3rem;
    height: 2rem;
  }
}


.navbar {
  display: flex;
  justify-content: flex-start;
  justify-items: center;
  padding: 1rem 0;
  gap: 1rem;

}
