@import '../../styles/partials/global';

.site-header{
  background-color: $kijiji-white;

  @include tablet {
  flex-direction: row;
  justify-content: space-between;
  }
}

.site-header__container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  @include tablet{
    flex-direction: row;
    padding: 0;
  }
}

.site-header__logo-container{
  display: flex;
  justify-content: left;

  @include tablet {
    justify-content: flex-start;
  }

}

.site-header__logo{
  padding: 1rem 2rem 0rem 2rem;
  width: 100%;
  


  @include desktop{
    padding: 2rem 4rem;
  }
}

.site-header__navbar{
  width: 100%;
  padding: 0rem 1rem;
  border-top: 3px solid $kijiji-purple;

  @include tablet{
    padding: 0rem;
  }
  @include desktop{
    padding: 0rem 1rem;
  }
}

.navbar{
  display: flex;
  justify-content: space-evenly;
  justify-items: center;
  padding-bottom: 1.5rem;
  gap: 1rem;
  @include tablet{
    justify-content: end;
    padding: 1rem 0rem;
  }
}

.navbar__btn{
  color: $kijiji-purple;
  width: 50%;
  padding: 0.5rem 1rem;
  text-align: center;
  &:hover {
    background-color: $bg-color;
    color: $kijiji-white;
    border-radius: 20px;
   }
   @include tablet{
    width: 15%;
    padding: 0.5rem;
   }
   @include desktop{
    width: 10%;
   }
}





