@import "../../styles/partials/global";

.member {
  &__heading {
    font-weight: 700;
  }
  &__list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 0;
    @include tablet {
      gap: 1.5rem;
      padding: 1.5rem 0;
    }
    @include desktop {
      gap: 2.5rem;
      padding: 1.5rem;
      border-bottom: none;
    }
  }
  &__wrap {
    display: flex;
    justify-content: space-between;
  }
  &__avatar {
    margin: 0;
    display: inline;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: $kijiji-purple;
    flex-shrink: 0;
    &--filled {
      background-size: contain;
    }
  }
  &__name {
    width: 20px;
    font-weight: 600;
    margin-left: 1rem;
    @include desktop {
      font-size: 1rem;
    }
  }
}
